h2 {
  margin: 0;
  font-weight: lighter;
  letter-spacing: 5px;
}
.yearTitle {
  padding: 80px 3% 5px;
  line-height: 1.2;
}
.collectionImage {
  margin: 0 3%;
  display: flex;
  flex-flow: row wrap;
}
.collectionImage > img {
  width: 33%;
}
.lastArticle {
  padding-bottom: 80px;
}
@media (min-width: 500px) {
  .display {
    display: inline;
  }
}
@media (min-width: 900px) {
  .yearTitle {
    padding: 120px 0 20px 0px;
    margin-left: 3%;
  }
  h2 {
    font-size: 20px;
  }
  .collectionImage img {
    width: 25%;
  }
}
